<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PortoAPI | Welcome</title>
</head>
<body style="background-color: #3b3b3b">
<div style="display: flex; justify-content: center; align-items: center; height: 90vh; flex-direction: column; text-align: center; color: white;">
    <h1 style="text-shadow: 4px 4px 2px black">Welcome to PortoAPI!</h1>
    <div style="margin-top: 0">The API is <span style="color: lawngreen; font-weight: bold">running</span> 🙂.</div>
</div>
</body>
</html>